/* Icons */
.icons{
    display: block;
    font-size: 1.2rem;
    position: absolute;
    right: 2rem;
    top: 0.75rem;
    cursor: pointer;
}

.light-mode-icon {
    display: none;
    transition: all 0.3s ease;
}

.dark-mode .dark-mode-icon {
    display: none;
    transition: all 0.3s ease;
}

.dark-mode-icon:hover {
    color: lightseagreen;
}

.dark-mode .light-mode-icon {
    display: block;
    color: white;
}

.light-mode-icon:hover {
    color: orange;
}


/* Dark Mode */
.dark-mode {
    background: var(--darkModeBackground);
    color: var(--white);
 }

.dark-mode .container {
    background-image: var(--containerDarkBackground);
 }

.dark-mode .user-name,
.dark-mode .recent-post-heading,
.dark-mode .mark-as-read {
    color: var(--darkModeTextColor);
}

.dark-mode .group-message {
    color: var(--darkModeGroupMessage);
}



.dark-mode .message-text {
    color: var(--white);
}

.dark-mode .user-name:hover,
.dark-mode .recent-post-heading:hover,
.dark-mode .group-message:hover,
.dark-mode .mark-as-read:hover {
    color: var(--lightBlue);
}

.dark-mode .number-of-notifications {
    background-color: var(--lightBlue);
}

.dark-mode .unread-background {
    background-color: var(--darkModeBackground);
}

.dark-mode .private-message-container {
    color: #dee2e6;
}

.dark-mode .private-message-container:hover {
    background-color: var(--darkModeBackground);
}

