// Spacing
.flow > * + * {
  margin-top: var(--flow-space);
}


/* Headings */
.numbered-heading {
  font-family: var(--font-barlow-condensed);
  font-size: var(--font-size-300);
  text-transform: uppercase;
  color: hsl(var(--clr-white));
  text-align: center;
  letter-spacing: 4.72px;
}

.numbered-heading span {
  color: hsl(var(--clr-light) / 0.5);
  margin-right: 1rem;
  font-weight: 700;
}

// Screen Reader Only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

// Skip to content
.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: transparent;
  color: var(--white);
  padding: .5em 1em;
  margin-inline: auto;
  transform: translateY(-250%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(-130%);
}

// Background Colors
.background-dark {
  background-color: hsl(var(--clr-dark));
}

.background-light {
  background-color: hsl(var(--clr-light));
}

.background-white {
  background-color: hsl(var(--clr-white));
}

// Text Colors
.text-dark {
  color: hsl(var(--clr-dark));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

// Text Transformation
.uppercase {
  text-transform: uppercase;
}

// Letter spacing
.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.36px;
}

// Font Families
.font-bellefair {
  font-family: var(--font-bellefair);
}

.font-barlow {
  font-family: var(--font-barlow);
}

.font-barlow-condensed {
  font-family: var(--font-barlow-condensed);
}

// Font sizes
.font-size-900 {
  font-size: var(--font-size-900);
}

.font-size-800 {
  font-size: var(--font-size-800);
}

.font-size-700 {
  font-size: var(--font-size-700);
}

.font-size-600 {
  font-size: var(--font-size-600);
}

.font-size-400 {
  font-size: var(--font-size-400);
}

.font-size-300 {
  font-size: var(--font-size-300);
}

.font-size-200 {
  font-size: var(--font-size-200);
}

.font-size-100 {
  font-size: var(--font-size-100);
}

.font-size-900,
.font-size-800,
.font-size-700,
.font-size-600 {
  line-height: 1.1;
}

