@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

:root {
    /* Font Family */
    --font-family-jost: 'Jost', sans-serif;

    /* Font Weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;

    /* Font Sizes */
    --font-size-500: 1.75rem;
    --font-size-400: 1.75rem;
    --font-size-300: 1.5rem;
    --font-size-200: 1.25rem;
    --font-size-100: 0.9375rem;

    /* Colors */
    --peach: hsl(11, 73%, 66%);
    --dark-peach: hsl(11, 66%, 64%);
    --black: hsl(270, 3%, 11%);
    --white: hsl(0, 0%, 100%);
    --light-peach: hsl(11, 100%, 80%);
    --very-light-peach: #FDF3F0;
    --dark-grey: hsl(264, 5%, 20%);
    --light-grey: hsl(210, 17%, 95%);
    --footer-text-color: hsl(0, 0%, 100%, 0.65);
    /* Raw Colors*/
    --rawBlack: 270, 3%, 11%;
    --rawPeach: 1, 73%, 66%;

    /* Spacing */
    --flex-gap: 1rem;
    --flow-space: 1.25rem;
    --section-padding: 3.75rem 0;
    --footer-margin-top: 15rem;
    --footer-container-padding-top: 12rem;

    /* Border Radius*/
    --border-radius-container: 0;

}

@media (min-width: 25rem) {
    :root {
        --font-size-500: 2rem;
    }
}

@media (min-width: 35em) {
    :root {
        --footer-container-padding-top: 9rem;
    }
}

@media (min-width: 45rem) {
    :root {
        --font-size-500: 3rem;
        --font-size-300: 0.875rem;
        --font-size-400: 2.5rem;
        --font-size-100: 1rem;

        /* Spacing */
        --flex-gap: 1rem;
        --section-padding: 5rem 0;


    }
}

@media (min-width: 65em) {
    :root {
        --section-padding: 4rem 0;
    }
}

@media (min-width: 80rem) {
    :root {
        /* Border Radius*/
        --border-radius-container: 0.75rem;
    }
}

/* CSS Reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img:not(.hero-image) {
    display: block;
    max-width: 100%;
}

button,
input {
    font-family: inherit;
}

h1,
h2,
h3 {
    font-weight: var(--font-weight-medium);
    line-height: 1.1;
}

p {
    font-weight: var(--font-weight-regular);
}

/* Styling Body*/

html {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--font-family-jost);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}

/*************/
/*  Header  */
/************/
.main-header {
    padding: 1.5rem 0;
    position: relative;
}

.logo {
    max-width: 60% !important;
}

.main-nav {
    background-color: var(--black);
    position: absolute;;
    height: 45vh;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    z-index: 99;
    /* Hiding navigation */
    opacity: 0;
    transform: translateX(100%);
    visibility: hidden;
}

/* When the navigation is open */
.navigation-open .main-nav {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
}

.main-nav-list {
    list-style: none;
    gap: 1rem;
    flex-direction: column;
}

.main-nav-link {
    text-decoration: none;
    color: var(--white);
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;
}

.overlay {
    position: absolute;
    display: block;
    inset: 0;
    background-color: hsl(var(--rawBlack), 0.4);
    z-index:2
}

 /* Showing overlay when user clicks on mobile navigation button */
.overlay.hidden {
    display: none;
}

/* Mobile navigation */
.mobile-navigation-button {
    background: transparent;
    cursor: pointer;
    width: 1.8rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.35rem;
    position: relative;
    z-index: 999;
}

.layer1,
.layer2,
.layer3 {
    width: 100%;
    height: 0.15rem;
    background-color: var(--black);
    transition: all 1s ease;
    border-radius: 0.25rem;
}

/* Mobile Navigation animation*/
.mobile-navigation-button.active .layer1 {
    animation: slide-down 0.35s ease-in-out forwards;
}

.mobile-navigation-button .layer1 {
    animation: slide-down-reverse 0.35s ease-in-out forwards;
}

@keyframes slide-down {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(0, 0.5rem) rotate(0deg);
    }

    100% {
        transform: translate(0, 0.5rem) rotate(45deg);
    }
}

@keyframes slide-down-reverse {
    0% {
        transform: translate(0, 0.5rem) rotate(45deg);
    }

    50% {
        transform: translate(0, 0.5rem) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.mobile-navigation-button.active .layer2 {
    animation: fade-away 0.35s ease-in-out forwards;
}

.mobile-navigation-button .layer2 {
    animation: fade-away-reverse 0.35s ease-in-out forwards;
}

@keyframes fade-away {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes fade-away-reverse {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.mobile-navigation-button.active .layer3 {
    animation: slide-up 0.35s ease-in-out forwards;
}

.mobile-navigation-button .layer3 {
    animation: slide-up-reverse 0.35s ease-in-out forwards;
}

@keyframes slide-up {
    0% {
        transform: translate(0rem, 0rem) rotate(0deg);
    }

    50% {
        transform: translate(0rem, -0.5rem) rotate(0deg);
    }

    100% {
        transform: translate(0rem, -0.5rem) rotate(135deg);
    }
}

@keyframes slide-up-reverse {
    0% {
        transform: translate(0rem, -0.5rem) rotate(135deg);
    }

    50% {
        transform: translate(0rem, -0.5rem) rotate(0deg);
    }

    100% {
        transform: translate(0rem, 0rem) rotate(0deg);
    }
}

@media (min-width: 30em) {
    .logo {
        max-width: 50% !important;
    }
}


@media (min-width: 45em) {
    .main-header {
        padding: 2.5rem 0;
        position: relative;
    }


    .logo-container {
        max-width: 40%;
    }

    /* Hiding mobile navigation */
    .mobile-navigation {
        display: none;
    }

    /* Changing position of main nav*/
    .main-nav {
        background-color: var(--white);
        position: static;
        height: 100%;
        padding-left: 0;
        display: flex;
        align-items: center;

        /* Showing navigation */
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        pointer-events: auto;
    }

    .main-nav-link {
        color: var(--black);
    }

    .main-nav-link:hover {
        border-color: var(--black);
    }

    .main-nav-list {
        gap: 2rem;
        flex-direction: row;
    }
}


/*****************/
/*  (Main Page)  */
/*****************/

/* Hero Section */
.hero-section {
    padding-bottom: 3.75rem;
}

.hero-container {
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    gap: 3rem !important;
    padding: 3rem 0;
    border-radius: var(--border-radius-container);
    position: relative;
}

.hero-text-box {
    padding-inline: 1rem;
    text-align: center;
    display: grid;
    place-items: center;
}

.hero-image-box {
    min-height: 24rem;
    position: relative;
    background-color: var(--peach);
}

.hero-image {
    position: absolute;
    top: -45%;
    left: 50%;
    transform: translateX(-50%);
    object-position: center top;

}

.call-to-action-button {
    align-self: center;
    z-index:1
}

@media (min-width: 30em) {
    .hero-text-box {
        padding-inline: 2rem;
    }

}

@media (min-width: 35em) {
    .hero-text-box {
        padding-inline: 6rem;
    }
}

@media (min-width: 45em) {
    .hero-section {
        padding-bottom: 5rem;
    }

    .hero-container {
        min-height: 40rem;
        gap: 1rem;
        place-items: center;
    }

    .hero-image {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-image-box::before {
        content: '';
        background-color: var(--dark-peach);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 28rem;
        height: 28rem;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-text-box {
        padding-inline: 1rem;
        text-align: left;
        place-items: start;
    }

    .call-to-action-button {
        align-self: flex-start;
    }
}

@media (min-width: 65em) {
    .hero-text-box {
        padding-left: 5rem;
    }
}

/* Projects Section */
.project-type {
    min-height: 15rem;
    border-radius: 0.75rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-align: center
}

.project-type::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: hsl(var(--rawBlack), 0.45);
    transition: all 0.4s ease;
}

.project-type:hover::before {
    background-color: hsl(var(--rawPeach), 0.5);
}

.secondary-heading,
.view-projects-link {
    position: relative;
    z-index: 999;
}

.link-symbol {
    color: var(--peach);
    margin-left: 0.5rem;
}

.project-type.web-design {
    background-image: url('../Images/home/mobile/image-web-design.jpg');
}

.project-type.app-design {
    background-image: url('../Images/home/mobile/image-app-design.jpg');
}

.project-type.graphic-design {
    background-image: url('../Images/home/mobile/image-graphic-design.jpg');
}

@media (min-width: 35em) {
    .project-type.web-design {
        background-image: url('../Images/home/tablet/image-web-design.jpg');
    }

    .project-type.app-design {
        background-image: url('../Images/home/tablet/image-app-design.jpg');
    }

    .project-type.graphic-design {
        background-image: url('../Images/home/tablet/image-graphic-design.jpg');
    }
}

@media (min-width: 45em) {
    .project-type {
        min-height: 20rem;
    }

    .project-type.web-design {
        background-image: url('../Images/home/desktop/image-web-design-large.jpg');
        grid-row: span 2;
    }

    .project-type.app-design {
        background-image: url('../Images/home/desktop/image-app-design.jpg');
    }

    .project-type.graphic-design {
        background-image: url('../Images/home/desktop/image-graphic-design.jpg');
    }
}


/* Advantages Section */
.advantages-text {
    text-align: center;
}

.advantage {
    gap: 1.25rem;
}

.advantage-image-container {
    position: relative;
}

.advantage-image-container > img {
    margin: 0 auto;
}

.advantage-image-container::before {
    content: '';
    position: absolute;
    background-image: url('../Images/shared/desktop/bg-pattern-small-circle.svg');
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 35em) {
    .advantage {
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}

@media (min-width: 45em) {
    .advantage {
        flex-direction: column;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 55em) {
    .advantage-container {
        gap: 3rem !important;
    }
}

/* Get in Touch Section */
.footer {
    margin-top: var(--footer-margin-top);
    position: relative;
}

.get-in-touch-section {
    position: absolute;
    width: 90%;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);

}

.container.get-in-touch-container {
    padding: 4rem 1rem;
    border-radius: 0.75rem;
    /*place-items: center;*/
}

.get-in-touch-text-box {
    text-align: center;
    place-items: center;
}

.get-in-touch-button {
    place-self: center
}


@media (min-width: 25em) {
    .get-in-touch-section {
        top: -35%;
        transform: translate(-50%, 35%);
    }
}

@media (min-width: 35em) {
    .get-in-touch-container.grid--2-columns {
        grid-template-columns: 1fr 1fr;
    }

    .container.get-in-touch-container {
        padding-inline: 3rem;
    }

    .get-in-touch-text-box {
        text-align: left;
    }

    .get-in-touch-button {
        margin-left: auto;
    }
}


@media (min-width: 35em) {
    .get-in-touch-section {
        top: -50%;
        transform: translate(-50%, 50%);
    }
}

@media (min-width: 45em) {
    .get-in-touch-section {
        top: -80%;
        transform: translate(-50%, 80%);
    }
}

@media (min-width: 75em) {
    .get-in-touch-container {
        padding-inline: 6rem;
    }

    .get-in-touch-section {
        top: -60%;
        transform: translate(-50%, 60%);
    }
}

/* Footer */
.footer-container {
    display: grid;
    gap: 2rem;
    place-items: center;
    text-align: center;
    padding-top: var(--footer-container-padding-top);
}

.footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    max-width: 60% !important;
}

.footer-nav-link {
    font-size: 0.875rem;
    transition: all 0.3s ease;
}

.footer-contact-link {
    display: block;
}

.footer-nav-link:hover {
    color: var(--peach);
}

.social-logo {
    font-size: 1.75rem;
    color: var(--white);
    transition: all 0.3s ease;
}

.social-logo:hover {
    color: var(--peach);
}

@media (min-width: 45em) {
    .footer-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        row-gap: 5rem;
        text-align: left;
        place-items: start;
    }

    .footer-logo-container a {
        justify-content: flex-start !important;
    }

    .footer-nav-list {
        flex-direction: row !important;
        gap: 3rem !important;
    }

    .footer-nav {
        grid-column: span 2;
        justify-self: end;
    }

    .social-logos {
        place-self: center
    }

}

@media (min-width: 45em) {
    .footer-nav-list {
        gap: 5rem !important;
    }
}

/* Pages  */

/*********************/
/*  Web Design Page  */
/********************/
.project-container {
    min-height: 18rem;
    gap: 3rem;
    border-radius: var(--border-radius-container);
}


@media (min-width: 45em) {
    .text-box-projects {
        width: 50%;
    }
}

.project {
    border-radius: 0.75rem;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.websites-section .image-container {
    overflow: hidden;
}

.project-picture {
    transition: all 0.4s ease;
}

.project:hover {
    background-color: var(--peach) !important;
}

.project:hover .tertiary-heading {
    color: var(--white);
}

.project:hover .text {
    color: var(--white);
}

.project:hover .project-picture {
    transform: scale(1.03);
}

.project-text-box {
    padding: 2.125rem;
}

@media (min-width: 30em) {
    .project {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 45em) {
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*********************************************/
/*  App Design Page and Graphic Design Page  */
/********************************************/
.app-design-page .web-design,
.graphic-design-page .web-design {
    grid-row: span 1;
}


/*********************/
/*  About Us Page  */
/********************/
.about-us-container {
    padding-inline: 0 !important;
    gap: 0 !important;
    border-radius: var(--border-radius-container);
    overflow: hidden;
}

.about-us-text-content {
    padding: 4rem 1rem;
    text-align: center
}

.about-us-image-container {
    min-height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-inline: 0;
}

.hero-section .about-us-image-container {
    background-image: url('../Images/about/mobile/image-about-hero.jpg');
}

.talent-section .about-us-image-container {
    background-image: url('../Images/about/mobile/image-world-class-talent.jpg');
}

.deal-section .about-us-image-container {
    background-image: url('../Images/about/mobile/image-real-deal.jpg');
}

/* Location grid*/
.location .text-box {
    padding: 2rem 2rem;
}

.location .image-container {
    position: relative;
}

.location .image-container::before {
    content: '';
    position: absolute;
    background-image: url('../Images/shared/desktop/bg-pattern-small-circle.svg');
    inset: 0;
    /*transform: translate(-50%, -50%);*/
}

.see-location-button {
    align-self: center;
    margin-top: 1rem;
}


@media (min-width: 35em) {
    .hero-section .about-us-image-container {
        background-image: url('../Images/about/tablet/image-about-hero.jpg');
    }

    .talent-section .about-us-image-container {
        background-image: url('../Images/about/tablet/image-world-class-talent.jpg');
    }

    .deal-section .about-us-image-container {
        background-image: url('../Images/about/tablet/image-real-deal.jpg');
    }

}

@media (min-width: 45em) {
    .hero-section .about-us-container {
        padding-inline: 0 !important;
        grid-template-columns: 55fr 45fr;
    }

    .hero-section .about-us-image-container {
        min-height: 30rem;
        background-image: url('../Images/about/desktop/image-about-hero.jpg');
        grid-column-start: 2;
    }

    .talent-section .about-us-image-container {
        background-image: url('../Images/about/desktop/image-world-class-talent.jpg');
    }

    .deal-section .about-us-image-container {
        background-image: url('../Images/about/desktop/image-real-deal.jpg');
    }

    .talent-section .about-us-container {
        padding-inline: 0 !important;
        grid-template-columns: 45fr 55fr;
    }

    .talent-section .about-us-image-container {
        min-height: 40rem;
    }

    .deal-section .about-us-image-container {
        min-height: 40rem;
    }

    .about-us-text-content {
        padding-inline: 2rem;
        text-align: left !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-section .about-us-text-content {
        grid-row-start: 1;
    }

    .deal-section .about-us-container {
        grid-template-columns: 55fr 45fr;
    }

    .deal-section .about-us-text-content {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .deal-section .about-us-image-container {
        grid-column-start: 2;
    }

}

@media (min-width: 65em) {
    .location-demo-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 65em) {
    .about-us-text-content {
        padding-inline: 4rem;
    }
}


/*********************/
/*  Locations Page  */
/********************/
.location-container {
    padding-inline: 0 !important;
    gap: 0 !important;
}

.location-image-container {
    min-height: 20rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.canada-location-container .location-image-container {
    background-image: url('../Images/locations/desktop/image-map-canada.png');
    grid-row-start: 1;
}

.australia-location-container .location-image-container {
    background-image: url('../Images/locations/desktop/image-map-australia.png');
}

.united-kingdom-location-container .location-image-container {
    background-image: url('../Images/locations/desktop/image-map-united-kingdom.png');
    grid-row-start: 1;
}

.location-container .text-content {
    padding: 3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 35em) {
    .location-container {
        gap: 1.25rem !important;
        padding-inline: 1rem !important;
    }

    .location-container .secondary-heading {
        grid-column: span 2;
    }

    .location-container .text-content {
        text-align: left;
        border-radius: 0.75rem;
        padding-inline: 2rem;
    }

    .contact-box {
        grid-template-columns: 1fr 1fr;
    }

    .canada-location-container .location-image-container {
        background-image: url('../Images/locations/tablet/image-map-canada.png');
        border-radius: 0.75rem;
    }

    .australia-location-container .location-image-container {
        background-image: url('../Images/locations/tablet/image-map-australia.png');
        border-radius: 0.75rem;
    }

    .united-kingdom-location-container .location-image-container {
        background-image: url('../Images/locations/tablet/image-map-uk.png');
        border-radius: 0.75rem;
    }
}

@media (min-width: 45em) {
    .canada-location-container.location-container,
    .united-kingdom-location-container .location-container {
        grid-template-columns: 70fr 30fr;
    }

    .australia-location-container.location-container {
        grid-template-columns: 30fr 70fr;
    }

    .canada-location-container .location-image-container,
    .united-kingdom-location-container .location-image-container {
        grid-column-start: 2;
    }
}

@media (min-width: 65em) {
    .location-container .text-content {
        text-align: left;
        border-radius: 0.75rem;
        padding-inline: 4rem;
    }
}


/*******************/
/*  Contacts Page  */
/******************/
.contact-us-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: var(--border-radius-container);
}

.input {
    display: block;
    background: transparent;
    border: none;
    color: var(--white);
    padding: 1rem 0.75rem 0.5rem 0.75rem;
    border-bottom: 1px solid var(--white);
    width: 100%;
}

.input-container {
    position: relative;
}

.error {
    position: absolute;
    top: 65%;
    right: 0;
    transform: translateY(-65%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.show-error .error {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.error-message {
    font-size: 0.75rem;
}

/* Setting resize none*/
textarea {
    resize: none;
}

/* Removing arrows in input:number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Changing autocomplete color*/
input:-webkit-autofill {
    -webkit-background-clip: text;
}

/*Change text in autofill text box*/
input:-webkit-autofill {
    -webkit-text-fill-color: var(--white) !important;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid var(--white);
}

::placeholder {
    color: var(--white);
    opacity: 0.5;
}

.submit-button {
    justify-self: center;
}

.contact-us-container .text-content {
    text-align: center;
}

@media (min-width: 35em) {
    .contact-us-container {
        padding-inline: 4rem !important;
    }

    .submit-button {
        justify-self: end;
    }

    .contact-us-container .text-content {
        text-align: left;
    }
}

@media (min-width: 45em) {
    .contact-us-container .text-content {
        padding-right: 4rem;
    }
}