.container {
    max-width: 75rem;
    padding-inline: 1rem;
    margin: 0 auto;
}

/* Button */
.btn-light {
    display: block;
    border: none;
    background-color: var(--white);
    padding: 0.75rem 1.5rem;
    max-width: 10rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-light:hover {
    background-color: var(--light-peach);
    color: var(--white);
}

.btn-dark {
    display: block;
    border: none;
    background-color: var(--peach);
    padding: 0.75rem 1.5rem;
    color: var(--white);
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 10rem;
}

.btn-dark:hover {
    background-color: var(--light-peach);
    color: var(--white);
}

.primary-heading {
    font-size: var(--font-size-500);
}

.secondary-heading {
    font-size: var(--font-size-400);
}

.tertiary-heading {
    font-size: var(--font-size-200);
}

.section-padding {
    padding: var(--section-padding);
}

.flow > * + * {
    margin-top: var(--flow-space);
}

.hero-flow > * + * {
    margin-top: 1.75rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.grid--2-columns {
    grid-template-columns: 1fr;
}

.grid--3-columns {
    grid-template-columns: 1fr;
}

.grid-place-items-center {
    place-items: center;
}

.margin-auto {
    margin: 0 auto;
}

@media (min-width: 45em) {
    .grid--2-columns {
        grid-template-columns: 1fr 1fr;
    }

    .grid--3-columns {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* List */
.list-style-none {
    list-style: none;
}

/* Background*/
.background-peach {
    background-color: var(--peach);
}

.background-light-peach {
    background-color: var(--light-peach);
}

.background-very-light-peach {
    background-color: var(--very-light-peach);
}

.background-white {
    background-color: var(--white);
}

.background-black {
    background-color: var(--black);
}

/* Text-Styling */
.uppercase {
    text-transform: uppercase;
}

.text-decoration-none {
    text-decoration: none;
}

.text-align-center {
    text-align: center
}

/* Letter Spacing*/

.letter-spacing-2 {
    letter-spacing: 5px;
}

.letter-spacing-1 {
    letter-spacing: 2px;
}

/* Text Colors */
.text-color-dark-grey {
    color: var(--dark-grey);
}

.text-color-peach {
    color: var(--peach);
}

.text-color-light-grey {
    color: var(--light-grey);
}

.text-color-white {
    color: var(--white);
}

.text-color-black {
    color: var(--black);
}

.footer-text-color {
    color: var(--footer-text-color)
}

.text-bold {
    font-weight: 700;
}

/* Flex Utility Classes */
.flex {
    display: flex;
}

.flex-gap {
    gap: var(--flex-gap);
}

.flex-justify-space-between {
    justify-content: space-between;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

/* Font Size */
.font-size-500 {
    font-size: var(--font-size-500);
}

.font-size-400 {
    font-size: var(--font-size-400);
}

.font-size-300 {
    font-size: var(--font-size-300);
}

.font-size-200 {
    font-size: var(--font-size-200);
}

.font-size-100 {
    font-size: var(--font-size-100);
}

