.container {
    /*height: 42rem;*/
}

.grid {
    display: grid;
}

.grid-2-columns {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-columns {
    grid-template-columns: repeat(4, 1fr);
}

.primary-heading,
.secondary-heading,
.tertiary-heading{
    font-family: var(--fraunces);
    font-weight: var(--font-weight-900);
}

.primary-heading {
    font-size: var(--font-size-64);
    margin-top: 6rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    text-align: center;
    color: var(--white);
}

.secondary-heading {
    font-size: var(--font-size-48);
    color: var(--very-dark-desaturated-blue);
}

.tertiary-heading {
    font-size: var(--font-size-32);
    color: var(--very-dark-desaturated-blue);
}
