@media (max-width: 50em) {
    .grid--3-columns {
        grid-template-columns: 1fr !important;
    }

    .column {
        padding: 2.5rem 3.5rem;
    }

    .column:nth-child(1) {
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
    }

    .column:nth-child(3) {
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    .cta {
        margin-top: 0rem;
    }
}