:root {
    /* Font Family*/
    --font-family-outfit: 'Outfit', sans-serif;

    /* Font sizes */
    --font-size-500: 1.5rem;
    --font-size-400: 1.25rem;
    --font-size-300: 1rem;
    --font-size-200: 0.875rem;
    --font-size-100: 0.875rem;

    /* Font weights */
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /*  Colors */
    --light-blue: hsl(178, 60%, 48%);
    --light-blue-hover: hsl(178, 75%, 65%);
    --light-yellow: hsl(39, 88%, 58%);
    --light-yellow-hover: hsl(39, 100%, 69%);
    --dark-navy: hsl(202, 32%, 15%);
    --semi-dark-navy: hsl(199, 35%, 19%);
    --silver: hsl(198, 23%, 72%);
    --silver-hover: hsl(197, 33%, 89%);
    --rawSilver: 198, 23%, 72%;
}

@media (min-width: 48em) {
   :root {
       --font-size-500: 2.5rem;
       --font-size-400: 1.5rem;
       --font-size-300: 1.25rem;
       --font-size-200: 1rem;
   }
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: var(--font-family-outfit);
    background-color: var(--dark-navy);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Choice Selection Section */
.game-active .choice-selection-section {
    display: none;
}

.choice-container {
    min-width: 15rem;
}

.mark-selection-wrapper {
    padding: 2rem 1rem;
}

.choice__logo-container {
    margin-bottom: 2rem;
}

.mark-selection__buttons {
    padding: 0.5rem;
}

.mark-selection__button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem 2rem;
}

.mark-selection__active-button {
    background-color: var(--silver);
}

.mark-selection__button img {
    max-width: 50% !important;
}

.mark-selection-wrapper p:last-child {
    color: hsl(var(--rawSilver), 0.4);
}

.new-game-button {
    display: block;
    width: 100%;
}

/* Game Section */
.game-section {
    display: none;
}

.game-active .game-section {
    display: block;
}

.game__wrapper {
    gap: 1rem;
}

.choice-button {
    min-width: 7rem;
    min-height: 7rem;
    cursor: pointer;
    border: none;
}

/* Game Finished Section*/
.game-finished-section {
    display: none;
}

.game-finished .game-section {
    display: none;
}

.game-finished .game-finished-section {
    display: block;
}
