// Intro section
.intro {
  &__text {
    font-size: var(--font-size-300);
  }

  &__text-content {
    --gap: 1.5rem;
    font-weight: var(--font-weight-600);
    color: var(--very-dark-grayish-blue);
    text-align: center;
    padding: 6rem 1rem;
  }

  &__image {
    min-height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__image--transform {
    grid-row-start: 1;
  }

  &__image--transform {
    background-image: url("/images/mobile/image-transform.jpg");
  }

  &__image--stand-out {
    background-image: url("/images/mobile/image-stand-out.jpg");
  }

  @media (min-width: 48em) {
    &__text-content {
      text-align: left;
      align-items: start;
      justify-self: center;
      align-self: center;
    }

    &__image {
      min-height: 40rem;
    }

    &__image--transform {
      background-image: url("/images/desktop/image-transform.jpg");
      grid-column-start: 2;
    }

    &__image--stand-out {
      background-image: url("/images/desktop/image-stand-out.jpg");
    }
  }

  @media (min-width: 80em) {
    &__text-content {
      width: 60%;
    }
  }
}

// Design Section
.design {
  &__card {
    min-height: 35rem;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: end;
    text-align: center;
    padding: 2rem 1rem;
  }

  &__text {
    font-size: var(--font-size-200);
    color: var(--dark-desaturated-cyan);
  }

  &__card--graphic {
    background-image: url("/images/mobile/image-graphic-design.jpg");
  }

  &__card--photography {
    background-image: url('/images/mobile/image-photography.jpg');
  }

  @media (min-width: 48em) {
    &__card {
      min-height: 40rem;
    }

    &__card--graphic {
      background-image: url("/images/desktop/image-graphic-design.jpg");
    }

    &__card--photography {
      background-image: url("/images/desktop/image-photography.jpg")
    }
  }

  @media (min-width: 80em) {
    &__card {
      padding-inline: 8rem;
    }
  }
}

// Testimonials Section
.testimonial-section {
  --gap: 3.25rem;
  padding: 4rem 0;
  text-align: center;
}

@media (min-width: 48em) {
  .testimonial-section {
    --gap: 2.25rem;
    padding: 10rem 2rem;
  }
}

.testimonials__heading {
  font-family: var(--font-fraunces);
  color: var(--very-dark-grayish-blue);
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-900);
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 3.5rem;

}

.testimonial {
  --flow-space: 3rem;
  padding-inline: 1rem;

  &__image {
    border-radius: 50%;
  }

  &__text {
    font-size: var(--font-size-300);
  }

  &__client-name {
    font-family: var(--font-fraunces);
    font-weight: var(--font-weight-900);
    font-size: var(--font-size-300);
    color: var(--very-dark-desaturated-blue);
    margin-bottom: 0.3rem;
  }

  &__client-post {
    color: var(--grayish-blue);
    font-size: var(--font-size-100);
  }
}

// Gallery Section
.gallery {
  &__image {
    min-height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__image--bottle {
    background-image: url('/images/mobile/image-gallery-milkbottles.jpg');
  }

  &__image--orange {
    background-image: url('/images/mobile/image-gallery-orange.jpg');
  }

  &__image--cone {
    background-image: url('/images/mobile/image-gallery-cone.jpg');
  }

  &__image--cubes {
    background-image: url('/images/mobile/image-gallery-sugar-cubes.jpg');
  }

  @media (min-width: 48em) {
    &__image {
      min-height: 35rem;
    }

    &__image--bottle {
      background-image: url('/images/desktop/image-gallery-milkbottles.jpg');
    }

    &__image--orange {
      background-image: url('/images/desktop/image-gallery-orange.jpg');
    }

    &__image--cone {
      background-image: url('/images/desktop/image-gallery-cone.jpg');
    }

    &__image--cubes {
      background-image: url('/images/desktop/image-gallery-sugarcubes.jpg');
    }
  }
}


