.bonus-game-section {
    padding: 4rem 0;
    display: none;
}

.difficulty-hard .bonus-game-section {
    display: block;
}

.bonus-game-container {
    max-width: 30rem;
    margin: 0 auto;
    padding: 1rem 0;
    background-image: url('../Images/bg-pentagon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.row1 {
    display: flex;
    justify-content: center;
}

.row2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.row3 {
    display: flex;
    justify-content: space-evenly;
}

.bonus-game-container .logo-container {
    width: 9rem;
    height: 9rem;
}

.bonus-game-container .logo-container::before {
    width: 7rem;
    height: 7rem;
}

.spock-container {
    background: var(--cyan)
}

.lizard-container {
    background: var(--lizard-gradient);
}

.bonus-game-container .scissors-container {
   grid-column-start: 3;
}

.bonus-game-container .spock-container {
    grid-row-start: 2;
}

.bonus-game-container .paper-container {
    grid-row-start: 2;
    grid-column-start: 5;
}

.bonus-game-container .lizard-container {
    grid-row-start: 3;
    grid-column-start: 2;
}
.bonus-game-container .rock-container {
    grid-row-start: 3;
    grid-column-start: 4;
}

