:root {
    --outfitRegular: 'Outfit', sans-serif;
    --white : hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
    --veryLightBlue: #e7f5ff;
    --lightBlue: #a5d8ff;
    --darkModeBackground1: hsla(233, 32%, 10%, 1);
    --darkModeBackground2: hsla(259, 60%, 15%, 1);
    --containerDarkBackground: rgb(61, 51, 85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--veryLightBlue), var(--lightBlue));
    font-family: var(--outfitRegular);
    position: relative;
}

.card {
    max-width: 19rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0.8rem 2.75rem 0.8rem;
    border-radius: 1rem;
    gap: 2rem;
    margin: 0 1.5rem;

}

.card__text-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 0.5rem;
}

.card__image {
    display: block;
    max-width: 100%;
    border-radius: 1rem;
}

.card__heading {
    font-size: 1.375rem;
    text-align: center;
    font-weight: 700;
}

.card__text {
    text-align: center;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.5;
    color: var(--grayishBlue);
}

/* Dark Mode */


.icons{
    display: block;
    font-size: 2rem;
    position: absolute;
    right: 3rem;
    top: 2rem;
}

.light-mode-icon {
    display: none;
}

/* When the dark mode is enabled */
.dark-mode {
    background: linear-gradient(var(--darkModeBackground1),var(--darkModeBackground2))
}

.dark-mode .card {
    background-color: var(--containerDarkBackground);
}

.dark-mode .card__heading{
    color: var(--white);
}

.dark-mode .card__text {
    color: rgb(227, 217, 217);
}

.dark-mode .dark-mode-icon {
    display: none;
}

.dark-mode-icon:hover {
    color: rgb(107, 19, 107);
}


.dark-mode .light-mode-icon {
    display: block;
    color: white;
}

.light-mode-icon:hover {
    color: orange;
}


@media (max-width: 25em) {
    .card__heading {
        font-size: 1.25rem;
    }

    .card__text {
        font-size: 0.75rem;
    }

    .icons {
        top: 1rem;
        right: 1rem;
    }

    .card {
        max-width: 17rem;
        gap: 1rem;
    }

    .card__text-content {
        gap: 0.5rem;
    }
}

