@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    /* Colors */
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(180, 27%, 94%);
    --white: hsl(0, 0%, 100%);
    --disabled-button-color: hsla(183, 100%, 15%, 0.657);

    /* Typography */
   --space-mono: 'Space Mono', monospace;;
   --font-weight-bold: 700;
   --font-size-14: 0.875rem;
   --font-size-16: 1rem;
   --font-size-20: 1.25rem;
   --font-size-22: 1.375rem;
   --font-size-24: 1.5rem;
   --font-size-28: 1.75rem;
   --font-size-32: 2rem;
   --font-size-36: 2.25rem;
   --font-size-40: 2.5rem;
   --font-size-48: 3rem;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--space-mono);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-cyan);
    position: relative;
}

/* Grid-container */
.container {
    padding: 2rem 2rem;
    background-color: var(--white);
    border-radius: 1rem;
 }
 
 .grid {
     display: grid;
 }

 .grid--2-columns {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.grid--3-columns {
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
}

/**********************************/
 /* User-input container styling */
 .user-input-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
 }

 /* Headings */
 .primary-heading {
    font-size: var(--font-size-28);
    color: var(--very-dark-cyan);
    text-align: center;
    letter-spacing: 0.6rem;
 }

 .heading-container {
    padding: 2.5rem 0rem;
 }

 .label-heading {
    display: block;
    color: var(--dark-grayish-cyan);
    margin-bottom: 0.25rem;
 }

 .heading {
    margin-bottom: 0.50rem;
 }
 

/* Input styling */
input {
    font-size: var(--font-size-24);
}

/* Another way to select input:number instead of using classes or IDs */
input[type="number"] {

    width: 100%;
    height: 2.75rem;
    font-family: inherit;
    display: block;
    color: var(--very-dark-cyan);
    background-color: var(--very-light-grayish-cyan);
    border: 2px solid transparent;
    border-radius: 0.4rem;
    text-align: right;
    padding: 0.25rem 1.5rem 0.25rem 3.5rem;
}

input[type="number"]:hover {
    border-color: var(--strong-cyan);
}
/* When user clicks on input */
input[type="number"]:focus {
    outline: 2px solid var(--strong-cyan);
    border: none;
}

/* Removing input:number arrows (Because they look ugly :( ) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Positioning the icons */
.bill-input-box,
.number-input-box {
    position: relative;
}

.input-icon {
    display: block;
    max-width: 100%;
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.error-message {
    opacity: 0;
}

.error .error-message {
    margin-left: auto;
    color: red;
    opacity: 100;
}

.error #number-input {
    border: 2px solid red;
}


/* tip button styling */
.tip-button,
.custom-tip-button {
    display: inline-block;
    border: none;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    padding: 0.4rem 1rem;
    font-family: inherit;
    font-size: var(--font-size-24);
    border-radius: 0.25rem;
    cursor: pointer;
}

.current-active {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.light-blue-background {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.very-light-background {
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
}

/**********************************/
 /* amount-container styling */
 .amount-container {
    background-color: var(--very-dark-cyan);
    color: white;
    border-radius: 0.75rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
 }

 /* Flex utility class*/ 
.flex {
    display: flex;
}

/* Amount styling */
.tip-amount-box, .total-amount-box {
    justify-content: space-between;
    align-items: center;
}

.per-person {
    font-size: var(--font-size-14);
    color: var(--grayish-cyan);
}


.amount {
    font-size: var(--font-size-40);
    color: var(--strong-cyan);
}

.reset-button {
    margin-top: auto;
    width: 100%;
    padding: 0.5rem 0rem;
    font-family: inherit;
    font-size: var(--font-size-20);
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    border: none;
    text-transform: uppercase;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
 }

 .reset-button:hover {
    background-color: var(--light-grayish-cyan);
 }

 .reset-button:active {
    transform: scale(0.97);
 }

 .reset-button:disabled {
    background-color: hsla(183, 65%, 33%, 0.637);
 }

 /* Media Queries */
 @media (max-width: 48em) {
    /* Below 768 pixels */
    .grid--2-columns {
        grid-template-columns: 1fr;
    }

    .grid--3-columns {
        grid-template-columns: 1fr 1fr;
    }
 }











