* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  display: block;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
}

body {
  background-color: var(--dark-blue);
}



