// Components
.container {
  max-width: 30rem;
}

// Layouts
.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

// Font sizes
.font-size-400 {
  font-size: var(--font-size-400);
}

.font-size-300 {
  font-size: var(--font-size-300);
}

.font-size-200 {
  font-size: var(--font-size-200);
}

.font-size-100 {
  font-size: var(--font-size-100);
}

// Background
.background-pale-blue {
  background-color: var(--pale-blue);
}

.background-bright-blue {
  background-color: var(--bright-blue);
}

.background-very-pale-blue {
  background-color: var(--very-pale-blue);
}

.background-desaturated-blue {
  background-color: var(--desaturated-blue);
}

.background-dark-blue {
  background-color: var(--dark-blue);
}

// Text Color
.text-color-pale-blue {
  color: var(--pale-blue);
}

.text-color-bright-blue {
  color: var(--bright-blue);
}

.text-color-very-pale-blue {
  color: var(--very-pale-blue);
}

.text-color-desaturated-blue {
  color: var(--desaturated-blue);
}

.text-color-dark-blue {
  color: var(--dark-blue);
}


