.container {
    max-width: 25rem;
    background: linear-gradient(to bottom right, hsla(213, 20%, 18%, 0.868),hsla(213, 12%, 14%, 0.996));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    height: 27rem;
    position: relative;
}

.primary-heading, .secondary-heading {
    color: var(--white);
    font-size: var(--fontSize32);
    margin-bottom: 1rem;
    font-weight: 400;
}

.primary-heading {
    font-size: var(--fontSize32);
}

.secondary-heading {
    font-size: var(--fontSize24);
}

.btn {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: var(--white);
    color: var(--orange);
}