@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/* Custom Properties*/
:root {
    /* Colors*/
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* Font-families*/
    --font-family-bellefair: 'Bellefair', serif;;
    --font-family-barlow-condensed: 'Barlow Condensed', sans-serif;
    --font-family-barlow: 'Barlow', serif;

    /* Font-sizes*/
    --font-size-900: 9.375rem;
    --font-size-800: 6.25rem;
    --font-size-700: 3.5rem;
    --font-size-600: 2rem;
    --font-size-500: 1.75rem;
    --font-size-400: 1.125rem;
    --font-size-300: 1rem;
    --font-size-200: 0.875rem;
    --font-size-100: 0.75rem;

      /* Spacing */
    --gap: 1rem;
    --flow-space: 1rem;
}

/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
button {
    font: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
}


/* Setting up body*/
body {
    font-family: var(--font-family-barlow);
    font-size: var(--font-size-400);
    min-height: 100vh;
    line-height: 1.5;
    background-image: url('../Images/Home/background-home-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: hsl(var(--clr-light));
    display: grid;
    grid-template-rows: min-content 1fr;
}

/**************/
/*   Header   */
/**************/

.primary-header {
    padding: 2.5rem 0 2.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-nav {
    padding: 0 10rem;
    backdrop-filter: blur(20px);
}


.main-nav-list {
    display: flex;
    gap: 3.5rem;
    list-style: none;
    align-items: center;
}

.main-nav-link {
    display: block;
    color: hsl(var(--clr-white));
    font-size: var(--font-size-400);
    font-family: var(--font-family-barlow-condensed);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding: 1.75rem 0;
    transition: all 0.3s ease;
}

.main-nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    border-bottom: 0.2rem solid hsl(var(--clr-white) / 0.6);
}

.main-nav-link:hover::before,
.main-nav-link:focus::before{
    animation: border-animation 0.8s linear forwards;
}

.main-nav-link.active::before {
    border-bottom: 0.2rem solid hsl(var(--clr-white));
    animation: none !important;
    width: 100%;
}

@keyframes border-animation {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.number {
    font-size: var(--font-size-400);
    font-weight: 700;
    margin-right: 0.75rem;
}

/*********************/
/*   Hero Section   */
/********************/

.grid-container {
    padding-inline: 2rem;
    display: grid;
    max-width: 80rem;
    margin-inline: auto;
    gap: 1rem;
    border: 1px solid red;
}

@media (min-width: 45rem) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .main-nav {
        display: none;
    }
}






