@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/* Custom Properties*/
:root {
    /* Colors*/
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* Font-families*/
    --font-family-bellefair: 'Bellefair', serif;;
    --font-family-barlow-condensed: 'Barlow Condensed', sans-serif;
    --font-family-barlow: 'Barlow', serif;

    /* Font-sizes*/
    --font-size-900: 4.5rem;
    --font-size-800: 3.5rem;
    --font-size-700: 1.5rem;
    --font-size-600: 1rem;
    --font-size-500: 1.75rem;
    --font-size-400: 1rem;
    --font-size-300: 1.25rem;
    --font-size-200: 1rem;
    --font-size-100: 0.875rem;

    /* Spacing */
    --container-gap: 1.75rem;
    --text-gap: 1rem;
}


@media (min-width: 35em) {
    :root {
        --font-size-700: 2.5rem;
        --font-size-600: 1.5rem;

      /*Spacing*/
        --text-gap: 1.25rem;
        --container-gap: 2rem;
    }
}

@media (min-width: 45em) {
    :root {
        --font-size-900: 7.25rem;
        --font-size-800: 6.25rem;
        --font-size-700: 3.5rem;
        --font-size-600: 2rem;
        --font-size-500: 1.75rem;
        --font-size-400: 1rem;
        --font-size-300: 1.75rem;
        --font-size-200: 1.125rem;
        --font-size-100: 0.9375rem;

        /*Spacing*/
        --text-gap: 1.5rem;
        --container-gap: 2.25rem;
    }
}

@media (min-width: 65em) {
    :root {
        --font-size-900: 9.375rem;
    }
}

/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
button {
    font: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
}

html {
    overflow-x: hidden;
}

/* Setting up body*/
body {
    font-family: var(--font-family-barlow);
    font-size: var(--font-size-200);
    min-height: 100vh;
    line-height: 1.5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: hsl(var(--clr-light));
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
}


/**************/
/*   Header   */
/**************/
.primary-header {
    padding: 2rem 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}



.main-nav {
    position: fixed;
    inset: 0 0 0 25%;
    background-color: hsl(var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s ease;

    /*Hiding Navigation */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

}

.main-nav-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
}

.main-nav-link {
    display: block;
    color: hsl(var(--clr-light));
    font-size: var(--font-size-200);
    font-family: var(--font-family-barlow-condensed);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding: 1.75rem 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.main-nav-link:hover {
    color: hsl(var(--clr-white));
}

.main-nav .number {
    font-size: var(--font-size-200);
    font-weight: 700;
    margin-right: 0.5rem;
}

.close-button {
    display: none;
}

.menu-button,
.close-button {
    background: transparent;
    border: none;
    position: relative;
    z-index: 999;
}

.nav-icon {
    height: 1.25rem
}

/* When the navigation is open */
.navigation-open .main-nav {
    opacity: 1;
    z-index: 10;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
}

.navigation-open .close-button {
    display: block;
}

.navigation-open .menu-button {
    display: none;
}


@media (min-width: 45em) {
    .primary-header {
        padding: 0;
    }

    .logo-container {
        padding: 0 1.75rem;
    }

    .number {
        display: none;
    }

    .mobile-navigation {
        display: none;
    }

    .main-nav {
        position: static;
        display: block;
        opacity: 1;
        padding: 0 3rem;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0%);
    }

    .main-nav-list {
        flex-direction: row;
        gap: 1.75rem;
    }

    .main-nav-link {
        display: block;
        color: hsl(var(--clr-white));
        font-size: var(--font-size-200);
        font-family: var(--font-family-barlow-condensed);
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        padding: 2.25rem 0;
        transition: all 0.3s ease;
    }

    .main-nav-link::before {
        content: '';
        position: absolute;
        width: 0;
        bottom: 0;
        left: 0;
        border-bottom: 0.2rem solid hsl(var(--clr-white) / 0.6);
    }

    .main-nav-link:hover::before,
    .main-nav-link:focus::before {
        animation: border-animation 0.8s linear forwards;
    }

    .main-nav-link.active::before {
        border-bottom: 0.2rem solid hsl(var(--clr-white));
        animation: none !important;
        width: 100%;
    }

    @keyframes border-animation {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
}


@media (min-width: 60em) {
    .primary-header {
        padding: 2rem 0 2rem 2rem;
        overflow: hidden;
    }

    .main-nav {
        padding-inline: 3rem;
    }

    .main-nav-list {
        gap: 3rem;
    }

    .logo-container {
        padding: 0;
    }

    .number {
        display: inline;
    }
}

@media (min-width: 65em) {
    .main-nav {
        padding-inline: 8rem;
    }
}

/* Pages background images*/

.home {
    background-image: url('../Images/Home/background-home-mobile.jpg');
}

.destination {
    background-image: url(../Images/Destination/background-destination-mobile.jpg);
}

.crew {
    background-image: url(../Images/Crew/background-crew-mobile.jpg);
}

.technology {
    background-image: url('../Images/Technology/background-technology-mobile.jpg');
}

@media (min-width: 35em) {
    .home {
        background-image: url('../Images/Home/background-home-tablet.jpg');
    }

    .destination {
        background-image: url(../Images/Destination/background-destination-tablet.jpg);
    }

    .crew {
        background-image: url(../Images/Crew/background-crew-tablet.jpg);
    }

    .technology {
        background-image: url('../Images/Technology/background-technology-tablet.jpg');
    }
}

@media (min-width: 45em) {
    .home {
        background-image: url('../Images/Home/background-home-desktop.jpg');
    }

    .destination {
        background-image: url(../Images/Destination/background-destination-desktop.jpg);
    }

    .crew {
        background-image: url(../Images/Crew/background-crew-desktop.jpg);
    }


    .technology {
        background-image: url('../Images/Technology/background-technology-desktop.jpg');
    }
}

/*********************/
/*   Hero Section   */
/********************/

/***********************/
/*   Home Page  */
/***********************/
.hero-section {
    padding: 1rem 0;
}

@media (min-width: 35em) {
    .hero-section {
        padding: 1.5rem 0;
    }
}

@media (min-width: 45em) {
    .hero-section {
        padding: 2rem 0;
    }
}

.primary-heading {
    font-family: var(--font-family-barlow-condensed);
    font-size: var(--font-size-300);
    text-transform: uppercase;
}

.grid-container {
    padding-inline: 2rem;
    display: grid;
    max-width: 80rem;
    margin-inline: auto;
    gap: 4.5rem;
    min-height: 70vh;
    place-items: center;
}

.text-box {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hero-section-text {
    line-height: 2;
}

.space {
    font-family: var(--font-family-bellefair);
    font-size: var(--font-size-900);
    text-align: center;
    display: block;
}

.button-box {
    justify-self: center;
}

.large-button {
    position: relative;
    display: inline-grid;
    z-index: 1;
    place-items: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
    aspect-ratio: 1;
    padding: 3rem;
}

.large-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: hsl(var(--clr-white) / 0.15);
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    transform: scale(1.5);
    opacity: 1;
}

@media (min-width: 35em) {
    .hero-section-text {
        padding: 0 3rem;
    }
}

@media (min-width: 45rem) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        justify-content: end;
    }

    .button-box {
        justify-self: end;
    }

    .text-box {
        text-align: left;
    }

    .space {
        text-align: left;
    }

    .large-button {
        padding: 3rem;
    }

    .hero-section-text {
        padding: 0;
    }
}

@media (min-width: 55em) {
    .large-button {
        padding: 4rem;
    }
}

/***********************/
/*   Destination Page  */
/***********************/
.destination-grid-container {
    max-width: 80rem;
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: auto;
    padding-inline: 1.5rem;
    min-height: 70vh;
    place-items: center;
    gap: var(--container-gap);
    position: relative;
}

.numbered-heading {
    font-family: var(--font-family-barlow-condensed);
    font-size: var(--font-size-300);
    text-transform: uppercase;
    color: var(--clr-white);
    text-align: center;
    letter-spacing: 4.72px;
}

.numbered-heading span {
    color: hsl(var(--clr-light) / 0.5);
    margin-right: 1rem;
    font-weight: 700;
}

.planet-container {
    display: flex;
    justify-content: center;
    margin: 0.75rem;
}

.planet-image {
    max-width: 80%;
    animation: spinning 120s infinite linear forwards;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Destination Navigation */
.destination-nav {
    margin-bottom: 0.75rem;
}

.destination-nav-list {
    list-style: none;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
}

.destination-nav-link {
    display: block;
    color: hsl(var(--clr-light));
    font-size: var(--font-size-100);
    font-family: var(--font-family-barlow-condensed);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding: 0.5rem 0;
    transition: all 0.4s ease;
}

.destination-nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 3px solid hsl(var(--clr-light));
}

.destination-nav-link.active-link {
    color: hsl(var(--clr-white));
}

.destination-nav-link:hover::before {
    animation: border-animation-secondary 0.8s linear forwards;
}

.destination-nav-link.active-link::before {
    animation: none !important;
    width: 100%;
}

@keyframes border-animation-secondary {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.destination-planet {
    text-align: center;
    flex-direction: column;
    gap: var(--text-gap);
    display: none;
}

.current-active-destination.destination-planet {
    display: flex;
}

.horizontal-line {
    height: 1.25px;
    margin: 1rem 0;
    width: 90%;
    background-color: hsl(var(--clr-light) / 0.3);
    margin-inline: auto;
}


.distance-text,
.days-text {
    font-family: var(--font-family-bellefair);
    font-size: var(--font-size-500);
    color: hsl(var(--clr-white));
    text-transform: uppercase;
}

.distance-label,
.time-label {
    font-size: var(--font-size-100);
    text-transform: uppercase;
}

.planet-details {
    grid-template-columns: 1fr;
}


@media (min-width: 35em) {
    .planet-details {
        grid-template-columns: 1fr 1fr;
    }

    .destination-planet {
        padding: 0 3rem;
    }

    .destination-nav-list {
        gap: 1.5rem;
    }
}

@media (min-width: 45em) {
    .destination-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .destination-planet {
        padding: 0;
    }

    .numbered-heading-container {
        justify-self: left;
    }

    .numbered-heading-container {
        grid-column: span 2;
    }

    .destination-nav-list {
        list-style: none;
        display: flex;
        gap: 1.75rem;
        justify-content: left;
    }

    .planet-image {
        max-width: 92%;
    }

    .destination-planet {
        text-align: left;
    }
}

@media (min-width: 65em) {
    .planet-image {
        max-width: 100%;
    }
}

/**************/
/* Crew Page* /
/*************/

.crew-grid-container {
    display: grid;
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 1rem;
    gap: var(--container-gap);
    min-height: 80vh;
    place-items: center;
}

.image-container {
    color: var(--clr-white);
    grid-row: 2;
    display: flex;
    justify-content: center;
    transform: translateY(1rem);
}

.crew-image {
    max-width: 50%;
}

.person-post {
    color: hsl(var(--clr-white) / 0.6);
    font-size: var(--font-size-600);
    text-transform: uppercase;
    font-family: var(--font-family-bellefair);
}

.crew-nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.crew-nav-link {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: hsl(var(--clr-white) / 0.2);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.crew-nav-link.active {
    background-color: hsl(var(--clr-white));
}

.crew-nav-link:hover {
    background-color: hsl(var(--clr-white) / 0.75);
}

.crew-text-content {
    text-align: center;
    display: none;
    flex-direction: column;
    gap: var(--text-gap);
}

.crew-text {
    line-height: 2;
}

.crew-text-content.current-crew-text {
    display: flex;
    animation: text-animation 0.6s linear;
}

@keyframes text-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media (min-width: 35em) {
    .image-container {
        grid-row: 3;
    }

    .crew-hero {
        padding-bottom: 0;
    }

    .crew-grid-container {
        padding-inline: 5rem;
    }

    .crew-image {
        max-width: 70%;
    }

}

@media (min-width: 55em) {
    .crew-grid-container {
        grid-template-columns: 1fr 1fr;
        padding-inline: 1rem;
    }

    .crew-nav-list {
        justify-content: left;
    }

    .crew-text-content {
        text-align: left;
    }

    .crew-hero .numbered-heading-container {
        grid-column: span 2;
    }

    .image-container {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .crew-image {
        max-width: 100%;
    }

    .intro-content {
        display: grid;
    }

    .crew-nav {
        grid-row: 3;
        margin-top: 4rem;
    }

}

/********************/
/* Technology Page * /
/********************/

.technology-grid-container {
    display: grid;
    max-width: 80rem;
    margin-inline: auto;
    min-height: 70vh;
    place-items: center;
    gap: var(--container-gap);
}

.technology-nav-list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.technology-nav-link {
    color: hsl(var(--clr-white));
    font-size: var(--font-size-600);
    text-decoration: none;
    width: 0.5rem;
    height: 0.5rem;
    padding: 1.25rem;
    border-radius: 50%;
    background-color: hsl(var(--clr-dark));
    border: 1.75px solid hsl(var(--clr-white) / 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.technology-nav-link.active-link {
    background-color: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
}

.technology-nav-link:hover {
    border-color: hsl(var(--clr-white));
}

.technology-text-content {
    display: flex;
    flex-direction: column;
    gap: var(--text-gap);
    text-align: center;
    padding: 0 1rem;
}

.technology-text-content {
    display: none;
}

.current-technology-text.technology-text-content {
    display: flex;
}

.terminology {
    color: hsl(var(--clr-white) / 0.7);
}


.image-container-technology {
    grid-row: 2;
}

.portrait-image {
    display: none;
}

@media(min-width: 45em) {
    .technology-grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .landscape-image {
        display: none;
    }

    .portrait-image {
        display: block;
    }

    .image-container-technology {
        grid-column: 2;
    }

    .technology-nav-list {
        justify-content: left;
    }

    .technology-nav-link {
        padding: 1.5rem;
    }

    .technology-text-content {
        text-align: left;
    }

}

@media(min-width: 55em) {
    .technology-grid-container {
        grid-template-columns: 55fr 45fr;
    }

    .technology-intro-content {
        display: flex;
    }

    .technology-nav-list {
        flex-direction: column;
    }

    .technology-nav-link {
        padding: 2rem;
    }

    .technology-nav-list {
        margin-right: 2rem;
        margin-bottom: 0;
        align-items: center;
        gap: 2.75rem;
    }
}


