:root {
 --Public-sans: 'Public Sans', sans-serif;
 --dark-blue:  hsl(233, 26%, 24%);
 --light-green: hsl(136, 65%, 51%);
 --bright-cyan: hsl(192, 70%, 51%);
 --grayish-blue: hsl(233, 8%, 62%);
 --light-grayish-blue:  hsl(220, 16%, 96%);
 --very-light-gray:  hsl(0, 0%, 98%);
 --white:  hsl(0, 0%, 100%);
 --font-weight-light: 300;
 --font-weight-regular: 400;
 --font-weight-bold: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: var(--Public-sans);
    background-color:var(--very-light-gray);
    color: var(--dark-blue);
    position: relative;
}
/* Reset*/
.heading-primary, .heading-secondary, .heading-tertiary {
    color: var(--dark-blue);
}

.heading-primary {
    font-size: 5.8rem;
    font-weight: var(--font-weight-regular);
    line-height: 1.05;

}

.heading-secondary {
    font-size: 4.4rem;
    margin-bottom: 3.2rem;
    font-weight: 400;
}

.heading-tertiary {
    font-weight: 400;
    font-size: 2.8rem;
    margin-bottom: 3.2rem;
}

.container {
    max-width: 150rem;
    margin: 0 auto;
    padding:0 3.2rem;
}

.grid {
    display: grid;
    gap: 5.6rem;
}

.grid--2-cols {
    grid-template-columns: 1fr 1.5fr;
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.margin-bottom-medium {
    margin-bottom: 4.4rem;
}

.margin-bottom-big {
    margin-bottom: 5.6rem;
}



/************************/
/* HEADER */
/************************/
.header-section {
    background-color: var(--white);
    padding: 2.4rem;
    position: relative;
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.4rem !important;
}

.footer__logo-wrapper {
    display: block;
    max-width: 100%;

}

/************************/
/* NAVIGATION */
/************************/

.header__nav-list {
    display: flex;
    list-style: none;
     gap: 3.2rem;
}

.header__nav-link {
    text-decoration: none;
    color: var(--grayish-blue);
    cursor: pointer;
    border-bottom: 5px solid transparent;
    padding: 3.75rem 0;
    transition: all 0.5s ease;
    position: relative;
}

.header__nav-link::before {
    content: '';
    width: 0;
    border-bottom: 4px solid var(--light-green);
    position: absolute;
    bottom: 0;
    left: 0;
}

.header__nav-link:hover::before {
    animation: link-animation 0.6s linear forwards;
}

@keyframes link-animation {
    0% {
       width: 0;
    }

    100% {
        width: 100%;
    }
}

.header__mobile-nav {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    display: none;
}

.main-cta {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(to right, var(--light-green), var(--bright-cyan));
    color: var(--white);
    padding: 1.4rem 2.4rem;
    border-radius: 1.8rem;
}

.main-cta:hover {
    background: linear-gradient(to right, 
    hsl(136, 83%, 40%),hsl(192, 75%, 48%));
}

.header__mobile-nav {
    height: 4rem;
}

.header__open-nav-btn,
.header__close-nav-btn {
    width: 3rem;
    height: 3rem;
    position: relative;
    z-index: 1;
}

.header__close-nav-btn {
    display: none;
}

/************************/
/* Overlay */
/************************/
.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0);
    opacity: 0.35;
    display: block;
}

.overlay.hidden {
    display: none;
}

/************************/
/* HERO SECTION */
/************************/
.hero {
   align-items: center;
}

.hero__text-content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin: 0 auto;
}

.hero__text {
    color: var(--grayish-blue);
    line-height: 1.7;
}

.hero__image-wrapper {
    background-size: cover;
    width: 100%;
    height: 67rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    
}

.hero__image-wrapper::before {
    content: '';
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: center left;
    background-repeat: no-repeat;
    width: 110%;
    height: 122%;
    top: -21%;
    position: absolute;
    right: -39%;
    z-index: -1;
}

.hero__image {
    display: block;
    height: 85rem;
    transform: translate(24rem, -10rem);
    object-position: center left;
    object-fit: cover;
}

.hero__cta {
   align-self: flex-start;
}

/************************/
/* INTRO SECTION */
/************************/

.intro-section {
    padding: 9.6rem 0;
    background-color: var(--light-grayish-blue);
}

.intro__text {
    color: var(--grayish-blue);
    font-size: 2rem;
    margin-bottom: 1.4rem;
}


.feature__icon {
    display: block;
    max-width: 100%;
    margin-bottom: 4.4rem;
}


.feature__description {
    color: var(--grayish-blue);
    font-size: 1.8rem;
    line-height: 1.5;
}

/************************/
/* ARTICLE SECTION */
/************************/
.articles-section {
   padding: 9.6rem 0;
}

.articles__card {
    background-color: white;
    box-shadow: 0 5px 15px  rgba(0, 0, 0, 0.35) ;
    border-radius: 0.8rem;
    overflow: hidden;
}

.articles__card-image-wrapper {
    overflow: hidden;
}

.articles__card-image-wrapper img {
    max-width: 100%;
    display: block;
    transition: all 0.4s ease;
}

.articles__card-image-wrapper img:hover {
    transform: scale(1.1);
}

.articles__card-description {
    padding: 2.8rem 1.4rem 2.4rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.articles__card-title {
    font-size: 2.2rem;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: pointer
}

.articles__card-title:hover {
    color: var(--light-green);
}

.articles__card-author {
    color: var(--grayish-blue);
}

.articles__card-text {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--grayish-blue);
    line-height: 1.6;
}


/************************/
/* FOOTER SECTION */
/************************/

.footer-section {
    background-color: var(--dark-blue);
    padding: 4.8rem 0;
}

.footer__logo-wrapper img {
    margin-bottom: 2.4rem;
}

.footer__social-logos {
    display: flex;
    gap: 1.5rem;
}

.footer__social-logo {
    font-size: 2.4rem;
    color: var(--white);
}

.footer__social-logo:hover {
    color: var(--light-green);
}

.footer__nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer__nav-link {
    text-decoration: none;
    color: var(--white);
    transition: all 0.3s ease;
    cursor: pointer;
}

.footer__nav-link:hover {
    color: var(--light-green);
    
}

.footer__additional-info {
    justify-self: end; 
}

.footer__copyright-text {
    color: var(--grayish-blue);
    font-size: 1.4rem;
    margin-top: 2.4rem;
}



