.flex {
  display: flex;
}

.flex-gap {
  gap: var(--flex-gap);
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}