:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

// Background Color
.background-pale-blue {
  background-color: var(--pale-blue);
}

.background-bright-blue {
  background-color: var(--bright-blue);
}

.background-very-pale-blue {
  background-color: var(--very-pale-blue);
}

.background-desaturated-blue {
  background-color: var(--desaturated-blue);
}

.background-dark-blue {
  background-color: var(--dark-blue);
}

// Text Color
.text-color-pale-blue {
  color: var(--pale-blue);
}

.text-color-bright-blue {
  color: var(--bright-blue);
}

.text-color-very-pale-blue {
  color: var(--very-pale-blue);
}

.text-color-desaturated-blue {
  color: var(--desaturated-blue);
}

.text-color-dark-blue {
  color: var(--dark-blue);
}
