@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
    --Outfit-Regular: 'Outfit', sans-serif;
    --White : hsl(0, 0%, 100%);
    --Light-Gray: hsl(212, 45%, 89%);
    --Grayish-Blue: hsl(220, 15%, 55%);
    --Dark-Blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Gray);
}

.container {
    max-width: 16rem;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0.8rem 2.2rem 0.8rem;
    border-radius: 1.2rem;
    gap: 1.6rem;

}

.text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.image {
    display: block;
    max-width: 100%;
    border-radius: 1.2rem;
}

.heading {
    text-align: center;
    font-family: var(--Outfit-Regular);
    font-weight: 700;
}

.para {
    font-family: var(--Outfit-Regular);
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: var(--Grayish-Blue);
}
