// Spacing
.flow > * + * {
  margin-top: var(--flow-space);
}

// Headings
.primary-heading,
.secondary-heading,
.tertiary-heading{
  font-family: var(--font-fraunces) !important;
  font-weight: var(--font-weight-900);
}

.primary-heading {
  font-size: var(--font-size-700);
  color: var(--white);
}

.secondary-heading {
  font-size: var(--font-size-600);
  color: var(--very-dark-desaturated-blue);
}

.tertiary-heading {
  font-size: var(--font-size-500);
  color: var(--dark-desaturated-cyan);
}


