/* Above 576 pixels */
@media (min-width: 36em) {
  .testimonial-grid {
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }

  .testimonial.Patrick-Abrams {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .testimonial.Kira-Whittle {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .testimonial.Jonathan-Walters {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .testimonial.Daniel-Clifford {
    grid-row: span 2;
  }
}



@media (min-width: 56em) {
    .testimonial-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;
        max-width: 110rem;
        margin: 3.2rem;
    }

    .testimonial.Daniel-Clifford {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .testimonial.Jonathan-Walters {
        grid-column: 3 / 4;
        grid-row-start: 1;
    }

    .testimonial.Patrick-Abrams {
        grid-row-start: 2 !important;
        grid-column: 2 / 4 !important;
    }

    .testimonial.Patrick-Abrams {
        grid-column: span 2;
    }

    .testimonial.Kira-Whittle {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    /* Hover effects */
    .testimonial.Daniel-Clifford:hover,
    .testimonial.Jeanette-Harmon:hover {
        transform: translateX(-1.4rem);
    }

    .testimonial.Jonathan-Walters:hover {
        transform: translateY(-1.4rem);
    }

    .testimonial.testimonial.Kira-Whittle:hover {
        transform: translateX(1.4rem);
    }

    .testimonial.Patrick-Abrams:hover {
        transform: translateY(1.4rem);
    }

}