/*********************/
/* Below 1760 pixels */
/*********************/
@media (max-width: 110em) {
    .hero-image img {
    transform: translate(16rem, -10rem);
    }

    .hero-image::before {
        right: -29%;
     }
}
/*********************/
/* Below 1536 pixels */
/*********************/
@media (max-width: 96em) {
    .hero-image img {
        transform: translate(8rem, -10rem);
     }
     .hero-image::before {
        right: -14%;
        width: 115%;
     }
}

/*********************/
/* Below 1360 pixels */
/*********************/
@media (max-width: 85em) {
    .hero-image::before {
      right: -7%;
    }
   .article-content {
        padding: 2.4rem 0.8rem 1.8rem 0.8rem;
    }

    .grid {
        gap: 3.2rem;
    }
}

/*********************/
/* Below 1200 pixels */
/*********************/
@media (max-width: 75em) {
    html {
        font-size: 56.25%;
    }

    .hero {
        gap: 1.2rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    .heading-secondary {
        font-size: 3.2rem;
    }

    .heading-tertiary {
        font-size: 2.2rem;
    }


}

/*********************/
/* Below 1000 pixels */
/*********************/

@media (max-width: 60em) {
    html {
        font-size: 50%;
    }

    .hero {
        gap: 0;
    }
    
    .hero-image {
        height: 62rem;
    }
    .hero-image img {
        max-height: 80rem;
    }

    .heading-primary {
        font-size: 3.8rem !important;
    }

}

/*********************/
/* Below 800 pixels */
/*********************/
@media (max-width: 50em) {
    .hero {
        grid-template-columns: 1fr;
        padding: 0 9.6rem;
        gap: 3.2rem;
    }
    
    .hero-image {
        grid-row-start: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 50rem;
    }

    .hero-cta {
        align-self: center;
    }

    .hero-text-box {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 9.6rem;
    }

    .main-cta {
        font-size: 2.4rem;
        padding: 1.6rem 2.8rem;
    }

    .hero-image img {
        transform: translate(0rem, -11rem);
        max-height: 70rem;
        object-position: center center;
    }

    .hero-image::before {
        background-image: url("../images/bg-intro-mobile.svg");
        background-size: cover;
        background-position: center bottom;
        width: 140%;
        top: -12%;
        height: 152%;
        right: -18%;
    }

    .main-cta.header-cta {
        display: none;
    }

    .dropdown-toggle {
        display: block;
    }

    .main-nav {
        position: absolute;
        width: 60%;
        height: 50vh;
        top: 12rem;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        background-color: rgba(255, 255, 255);
        border-radius: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        transition: all 0.5s ease;

        /* Hiding the navigation */
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .show-navigation .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    .show-navigation .close-nav {
        z-index: 2;
        display: block;
        position: relative;
    }

    .show-navigation .open-nav {
        display: none;
    }

    .main-nav-link::before {
        content: '';
        width: 0;
        border-bottom: none;
        position: absolute;
        bottom: 0;
        left: 0;
    }


    .main-nav-link {
        padding-bottom: 0;
    }

    .main-nav-link:hover {
        color: var(--light-green);
        border-color: transparent;
    }


    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }


    .article-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .article-content {
        padding: 2.4rem 4.8rem 4.8rem 2.4rem;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        gap: 1.8rem;
    }

    .social-logos {
        margin-bottom: 2.4rem;
    }

    .logo img {
        margin-bottom: 3.6rem;
    }

    .footer-nav-list {
        gap: 1.8rem;
        align-items: center;
        justify-content: center;
    }

    .additional-info {
        margin-top: 2.4rem;
        justify-self: center;
    }

    .footer-cta {
        width: 22rem;
        text-align: center;
        margin-bottom: 1.2rem;
    }

    .intro-text-content {
        text-align: center;
        margin-bottom: 4.8rem;
    }

    .feature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature-description {
        text-align: center
    }
}


/*********************/
/* Below 608 pixels */
/*********************/
@media (max-width: 38em) {
    .hero-image {
        height: 40rem;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 3.2rem;
    }
    
    .hero-image img {
        transform: translate(0rem, -11rem);
        max-height: 57rem;
    }

    .hero-image::before {
        width: 116%;
        top: -22%;
        height: 150%;
        right: -9%;
    }

    .heading-secondary {
        text-align: center;
    }

    .article-grid {
        grid-template-columns: 1fr;
    }

    .features {
        grid-template-columns: 1fr;
    }

}

/*********************/
/* Below 408 pixels */
/*********************/
@media (max-width: 26em) {
    .hero-image img {
        max-height: 40rem;
        transform: translate(0rem, -9rem);
    }

    .hero-image {
        padding: 0 1.6rem;
        max-height: 30rem;
    }

    .hero-image::before {
        right: -8%;
    }

}


@media (max-width: 18em) {
    .hero-image {
        display: none;
    }
    .main-cta {
        padding: 1.2rem 0.8rem;
    }
}