.grid {
  display: grid;
}

.grid--2-columns,
.grid--3-columns,
.grid--4-columns{
  grid-template-columns: 1fr;
}

.grid--items-center {
  place-items: center;
}

.grid--content-center {
  place-content: center;
}

.grid--gap {
  gap: var(--gap);
}

@media (min-width: 32em) {
  .grid--4-columns {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 48em) {
  .grid--2-columns {
    grid-template-columns: 1fr 1fr;
  }

  .grid--3-columns {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--4-columns {
    grid-template-columns: repeat(4, 1fr);
  }
}