:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --cyan: #90D4C6;
  --light-blue: #2695b9;
  --light-cyan: #8ed0c4;
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --font-barlow: "Barlow", sans-serif;
  --font-fraunces: "Fraunces", serif;
  --font-size-700: 2.25rem;
  --font-size-600: 2rem;
  --font-size-500: 1.75rem;
  --font-size-400: 1.25rem;
  --font-size-300: 1.125rem;
  --font-size-200: 1rem;
  --font-size-100: 0.9375rem;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-900: 900;
  --flow-space: 1rem;
  --gap: 1rem;
}

@media (min-width: 32em) {
  :root {
    --font-size-700: 2.5rem;
  }
}
@media (min-width: 48em) {
  :root {
    --font-size-700: 3.75rem;
    --font-size-600: 2.5rem;
    --font-size-400: 1.125rem;
    --gap: 1.25rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: var(--font-barlow);
  min-height: 100vh;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-600);
  color: var(--very-dark-desaturated-blue);
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.flow > * + * {
  margin-top: var(--flow-space);
}

.primary-heading,
.secondary-heading,
.tertiary-heading {
  font-family: var(--font-fraunces) !important;
  font-weight: var(--font-weight-900);
}

.primary-heading {
  font-size: var(--font-size-700);
  color: var(--white);
}

.secondary-heading {
  font-size: var(--font-size-600);
  color: var(--very-dark-desaturated-blue);
}

.tertiary-heading {
  font-size: var(--font-size-500);
  color: var(--dark-desaturated-cyan);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: transparent;
  color: var(--white);
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-200%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(120%);
}

.btn {
  font-size: var(--font-size-100);
  display: block;
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn--yellow {
  background-color: var(--yellow);
}

.btn--yellow:hover {
  background-color: transparent;
  color: var(--yellow);
  border-color: var(--yellow);
}

.btn--red {
  background-color: var(--soft-red);
}

.btn--red:hover {
  background-color: transparent;
  color: var(--soft-red);
  border-color: var(--soft-red);
}

.flex {
  display: flex;
}

.flex--gap {
  gap: var(--gap);
}

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex--justify-space-between {
  justify-content: space-between;
}

.flex--justify-center {
  justify-content: center;
}

.flex--align-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid--2-columns,
.grid--3-columns,
.grid--4-columns {
  grid-template-columns: 1fr;
}

.grid--items-center {
  place-items: center;
}

.grid--content-center {
  place-content: center;
}

.grid--gap {
  gap: var(--gap);
}

@media (min-width: 32em) {
  .grid--4-columns {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 48em) {
  .grid--2-columns {
    grid-template-columns: 1fr 1fr;
  }
  .grid--3-columns {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--4-columns {
    grid-template-columns: repeat(4, 1fr);
  }
}
.header-section {
  background-image: url("/images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1.5rem 0;
  min-height: 100vh;
  position: relative;
}

@media (min-width: 48em) {
  .header-section {
    padding: 2.25rem 0;
  }
}
.header {
  display: flex;
  padding-inline: 1rem;
}
.header__nav-list {
  --gap: 1.5rem;
  position: absolute;
  background-color: var(--white);
  height: 50vh;
  top: 20%;
  left: 50%;
  width: 80%;
  z-index: 999;
  transition: all 0.3s ease;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
  visibility: hidden;
}
@media (min-width: 32em) {
  .header__nav-list {
    width: 65%;
  }
}
.header__nav-list[data-visible=true] {
  opacity: 1;
  transform: translateX(-50%);
  visibility: visible;
  pointer-events: auto;
}
.header__nav-list[data-visible=true]::before {
  position: absolute;
  content: "";
  top: -2.5rem;
  right: 0;
  border-top: 2.5rem solid transparent;
  border-right: 2.5rem solid var(--white);
}
.header__nav-link, .header__contact-link {
  font-size: var(--font-size-400);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header__nav-link {
  color: var(--very-dark-desaturated-blue);
  display: block;
  position: relative;
}
.header__contact-link {
  background-color: var(--yellow);
  color: var(--white);
  display: block;
  border: 2px solid transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
}
.header__contact-link:hover {
  background-color: transparent;
  color: var(--yellow);
  border-color: var(--yellow);
}
.header__mobile-nav-toggle {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  border: none;
  background: transparent url("/images/icon-hamburger.svg") no-repeat center;
  z-index: 99;
}
.header__mobile-nav-toggle[aria-expanded=true] {
  background-image: url("/images/icon-close.svg");
}
.header__mobile-nav-toggle:focus-visible {
  outline: 5px solid white;
  outline-offset: 5px;
}
.header__heading {
  margin-top: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: center;
}
.header__arrow-btn {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translateX(-50%);
  animation: arrow-animation infinite 1.5s linear;
}
@keyframes arrow-animation {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media (min-width: 48em) {
  .header {
    padding-inline: 2rem;
  }
  .header__nav-list {
    --gap: 3rem;
    position: static;
    background: transparent;
    width: auto;
    height: 100%;
    flex-direction: row;
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
  }
  .header__nav-link {
    color: var(--white);
    padding: 0.6rem 0;
  }
  .header__nav-link::before {
    content: "";
    position: absolute;
    border-bottom: 3px solid var(--white);
    bottom: 0;
    left: 0;
    width: 0;
  }
  .header__nav-link:hover::before {
    animation: border_animation 0.35s linear forwards;
  }
  @keyframes border_animation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  .header__contact-link {
    background-color: var(--white);
    color: var(--light-blue);
  }
  .header__contact-link:hover {
    background-color: transparent;
    color: var(--white);
    border-color: var(--white);
  }
  .header__mobile-nav-toggle {
    display: none;
  }
  .header__heading {
    margin-top: 5rem;
  }
}

.overlay.hidden {
  display: none;
}

.overlay {
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.footer-section {
  background-color: var(--cyan);
  padding: 4rem 0;
}

.footer {
  --gap: 2.5rem;
}
.footer__logo {
  filter: brightness(0) saturate(100%) invert(26%) sepia(18%) saturate(1123%) hue-rotate(116deg) brightness(100%) contrast(90%);
  transition: all 0.3s ease;
}
.footer__logo:hover {
  filter: none;
}
.footer__nav-list {
  --gap: 2.25rem;
  list-style: none;
}
@media (min-width: 48em) {
  .footer__nav-list {
    --gap: 3rem;
  }
}
.footer__nav-link {
  text-decoration: none;
  font-size: var(--font-size-300);
  color: var(--dark-desaturated-cyan);
  transition: all 0.3s ease;
}
.footer__nav-link:hover {
  color: var(--white);
}
.footer__social-logos {
  margin-top: 2.25rem;
}
.footer__social-link {
  text-decoration: none;
}
.footer__social-logo {
  color: var(--dark-desaturated-cyan);
  font-size: var(--font-size-500);
  transition: all 0.3s ease;
}
.footer__social-logo:hover {
  color: var(--white);
}

.intro__text {
  font-size: var(--font-size-300);
}
.intro__text-content {
  --gap: 1.5rem;
  font-weight: var(--font-weight-600);
  color: var(--very-dark-grayish-blue);
  text-align: center;
  padding: 6rem 1rem;
}
.intro__image {
  min-height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro__image--transform {
  grid-row-start: 1;
}
.intro__image--transform {
  background-image: url("/images/mobile/image-transform.jpg");
}
.intro__image--stand-out {
  background-image: url("/images/mobile/image-stand-out.jpg");
}
@media (min-width: 48em) {
  .intro__text-content {
    text-align: left;
    align-items: start;
    justify-self: center;
    align-self: center;
  }
  .intro__image {
    min-height: 40rem;
  }
  .intro__image--transform {
    background-image: url("/images/desktop/image-transform.jpg");
    grid-column-start: 2;
  }
  .intro__image--stand-out {
    background-image: url("/images/desktop/image-stand-out.jpg");
  }
}
@media (min-width: 80em) {
  .intro__text-content {
    width: 60%;
  }
}

.design__card {
  min-height: 35rem;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: end;
  text-align: center;
  padding: 2rem 1rem;
}
.design__text {
  font-size: var(--font-size-200);
  color: var(--dark-desaturated-cyan);
}
.design__card--graphic {
  background-image: url("/images/mobile/image-graphic-design.jpg");
}
.design__card--photography {
  background-image: url("/images/mobile/image-photography.jpg");
}
@media (min-width: 48em) {
  .design__card {
    min-height: 40rem;
  }
  .design__card--graphic {
    background-image: url("/images/desktop/image-graphic-design.jpg");
  }
  .design__card--photography {
    background-image: url("/images/desktop/image-photography.jpg");
  }
}
@media (min-width: 80em) {
  .design__card {
    padding-inline: 8rem;
  }
}

.testimonial-section {
  --gap: 3.25rem;
  padding: 4rem 0;
  text-align: center;
}

@media (min-width: 48em) {
  .testimonial-section {
    --gap: 2.25rem;
    padding: 10rem 2rem;
  }
}
.testimonials__heading {
  font-family: var(--font-fraunces);
  color: var(--very-dark-grayish-blue);
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-900);
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 3.5rem;
}

.testimonial {
  --flow-space: 3rem;
  padding-inline: 1rem;
}
.testimonial__image {
  border-radius: 50%;
}
.testimonial__text {
  font-size: var(--font-size-300);
}
.testimonial__client-name {
  font-family: var(--font-fraunces);
  font-weight: var(--font-weight-900);
  font-size: var(--font-size-300);
  color: var(--very-dark-desaturated-blue);
  margin-bottom: 0.3rem;
}
.testimonial__client-post {
  color: var(--grayish-blue);
  font-size: var(--font-size-100);
}

.gallery__image {
  min-height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__image--bottle {
  background-image: url("/images/mobile/image-gallery-milkbottles.jpg");
}
.gallery__image--orange {
  background-image: url("/images/mobile/image-gallery-orange.jpg");
}
.gallery__image--cone {
  background-image: url("/images/mobile/image-gallery-cone.jpg");
}
.gallery__image--cubes {
  background-image: url("/images/mobile/image-gallery-sugar-cubes.jpg");
}
@media (min-width: 48em) {
  .gallery__image {
    min-height: 35rem;
  }
  .gallery__image--bottle {
    background-image: url("/images/desktop/image-gallery-milkbottles.jpg");
  }
  .gallery__image--orange {
    background-image: url("/images/desktop/image-gallery-orange.jpg");
  }
  .gallery__image--cone {
    background-image: url("/images/desktop/image-gallery-cone.jpg");
  }
  .gallery__image--cubes {
    background-image: url("/images/desktop/image-gallery-sugarcubes.jpg");
  }
}

/*# sourceMappingURL=main.css.map */
