// Setting resize none
textarea {
  resize: none;
}

// Changing color of placeholder text
::placeholder {
  color: var(--white);
  opacity: 0.5;
}

// Removing arrows in input:number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Changing autocomplete color
input:-webkit-autofill {
  -webkit-background-clip: text;
}

//Change text in autofill text box
input:-webkit-autofill {
  -webkit-text-fill-color: var(--white) !important;
}